:root{
  --primary:#0151a0;
  --secondary:#ADD8E6;
  --background:#f8f7fc;
  --card:#ffffff;
  --text:#1f2937;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:var(--background);
  color:var(--text);
}

html{
  scroll-behavior:smooth;
}

.glass{
  background:rgba(255,255,255,.8);
  backdrop-filter:blur(20px);
  border-radius:24px;
  border:1px solid rgba(255,255,255,.4);
}

.primary-btn{
  background:linear-gradient(
      135deg,
      #0151a0,
      #ADD8E6
  );
  color:white;
  border:none;
  padding:14px 30px;
  border-radius:30px;
  cursor:pointer;
  transition:.3s;
  font-weight: bold;
}

.primary-btn:hover{
  transform:translateY(-3px);
}