.dashboard{
    min-height:100vh;
    background:#f8f7fc;
    display:flex;
    overflow:hidden;
    position:relative;
}

/* Sidebar */

.sidebar{
    width:260px;
    background:rgba(255,255,255,.75);
    backdrop-filter:blur(20px);
    padding:25px;
    border-right:1px solid rgba(255,255,255,.3);
    z-index:10;
}

.logo{
    font-size:26px;
    font-weight:700;
    color:#a855f7;
    margin-bottom:40px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:12px;

    padding:15px;
    margin-bottom:10px;

    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}

.menu-item:hover{
    background:#f3e8ff;
}

.active{
    background:linear-gradient(
        135deg,
        #a855f7,
        #ec4899
    );

    color:white;
}

/* Main */

.main-content{
    flex:1;
}

.navbar{
    background:white;
}

.title{
    font-weight:600;
}

.spacer{
    flex:1;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:50px;
}

.hero h1{
    font-size:52px;
    color:#7c3aed;
}

.hero p{
    color:gray;
    margin-top:15px;
    font-size:18px;
}

.hero-btn{
    margin-top:25px;
}

.ai-orb{
    width:180px;
    height:180px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:80px;

    background:linear-gradient(
        135deg,
        #a855f7,
        #ec4899
    );

    animation:float 4s infinite ease-in-out;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0);
    }

}

/* Background */

.blob{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
}

.blob1{
    width:350px;
    height:350px;
    background:#ec4899;
    top:-100px;
    right:-100px;
}

.blob2{
    width:350px;
    height:350px;
    background:#a855f7;
    bottom:-100px;
    left:-100px;
}

/* Mobile */

@media(max-width:768px){

    .sidebar{
        position:fixed;
        left:-280px;
        top:0;
        height:100vh;
        transition:.3s;
    }

    .sidebar.show{
        left:0;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:34px;
    }

    .ai-orb{
        margin-top:30px;
    }
}